@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
li{list-style:none;list-style-image:none;*display:list-item;}
img{border:0;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
a:focus{outline: none;} 

input[type=button]{cursor:pointer;}

.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}

.fht{font-family:"黑体";}
.fst{font-family:"宋体";}

.clear{clear:both;}
.over{overflow:hidden;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}

.pr{position:relative;zoom:1;}
.pa{position:absolute;}
.pf{position:fixed;}

.ti{text-indent:28px;}

.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}

.red{color:#ff0000;}
.black{color:#000;}
.gray{color:#2d2d2d;}
.col7d670d{color:#7d670d;}
.col754c24{color:#754c24;}
.col4f0000{color:#4f0000;}

.lh120{line-height:120%;}
.lh150{line-height:150%;}
.lh200{line-height:200%;}
.lh250{line-height:250%;}

.fb{font-weight:bold;}
.fn{font-weight:normal;}

.w160{width:160px;}
.w110{width:110px;}
.wb50{width:50%;}
.wb33{width:33%;}
.wb35{width:35%;}
.wb30{width:30%;}

.mauto{margin:0 auto;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.mr5{margin-right:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mr10{margin-right:10px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl40{padding-left:40px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}

.hide{display:none;}
.block{display:block;}